/* GENERAL */
body {
    position:relative;
    font-family:arial, helvetica, sans-serif;
}
.link .usertext .md,.usertext table.markhelp,.btn .login-form-side,.infobar,#search,#search input[type=text],.link,#header-bottom-right #userbarToggle,.linkinfo,textarea,.rounded,.sidecontentbox .content {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
}

/*buttons*/
.btn,button,.side a[href*='/#btn'] {
    background-color:#449EF8;
    border:none;
    color:#FFF;
    padding:6px;
    margin:5px 5px 5px 0;
    cursor:pointer;
    font-size:13px;
    font-family:arial,helvetica,sans-serif;
}
body.res-nightmode .btn, body.res-nightmode button, body.res-nightmode .side a[href*='/#btn'] {
    color: #444 !important;
    background-color: #CCC !important;
}
.btn a {
    color:#FFF;
}
body.res-nightmode .btn a {
    color: #444 !important;
}
.btn:hover,button:hover,.side a[href*='/#btn']:hover {
    background-color:#56a6f7;
    border-color:#56a6f7;
}
body.res-nightmode .btn:hover, body.res-nightmode button:hover, body.res-nightmode .side a[href*='/#btn']:hover {
    background-color:#DDD !important;
    border-color:#DDD;
}
.md p {
    font-family:Verdana, arial, sans-serif;
    padding:1px 0;
}

/* HEADER */
body.res-nightmode #header { 
    border-color: #DDF;
}
body.res-nightmode #header-bottom-left {
    background-color: #555656 !important;
}
#sr-header-area {
    background-color:#c6daed;
    text-transform:lowercase;
    border-bottom:3px solid #c2d6e9;
    font-size:100%;
    font-family:Verdana, arial, sans-serif;
}
#sr-header-area a {
    color:#54708b;
}
.tabmenu {
    font-size:11px;
}
#header .tabmenu {
    border: 1px solid #5F99CF;
    border-bottom: 0;
}
body.res-nightmode #header .tabmenu {
    border-color: #DDF;
}
#header .tabmenu li {
    margin: 0;
}
body.res-nightmode #header .tabmenu li:not(.selected) a {
    color: #346;
}
#header .tabmenu li.selected a {
    border: 0;
    border-bottom: 1px solid #FFF;
}
#header .tabmenu li:not(.selected):hover a {
    background-color: #449EF8;
    color: #FFF;
}
body.res-nightmode #header .tabmenu li {
    background-color: #DDD !important;
}
body.res-nightmode #header .tabmenu li:not(.selected):hover a {
    background-color: #CCC;
    color: #444;
}
#header-img {
    margin:8px 20px 0;
}
.pagename {
    margin-right:25px;
    font-weight:bold;
    font-variant:normal;
    font-size:18px;
}
body.res-nightmode .pagename a {
    font-size: 18px !important;
}
#sr-header-area .dropdown.srdrop, #sr-header-area#srLeftContainer {
    padding-left:21px;
}
#sr-more-link, #header #sr-header-area #RESShortcutsEditContainer, #header #sr-header-area #RESShortcutsRight, #header #sr-header-area #RESShortcutsLeft, 
#header #sr-header-area #RESShortcutsAdd, #header #sr-header-area #RESShortcutsTrash {
    background-color:#c6daed;
}
body.res-nightmode #sr-header-area, body.res-nightmode #sr-more-link {
    background-color: #c6daed !important;
}
#sr-header-area #RESShortcutsEditContainer, #sr-more-link {
    border-right:20px solid #c6daed;
    font-weight:bolder;
}
#header-bottom-right {
    right:20px;
    background-color:#deeaf6;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    -khtml-border-radius:0;
    border-radius:0;
}
body.res-nightmode #header-bottom-right {
    background-color: #DEEAF6 !important;
}
#header-bottom-right.res-navTop {
    top: 21px !important;
}
#header-bottom-right.res-navTop #userbarToggle {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}
#header-bottom-right #userbarToggle {
    font-family:"Courier New", Courier, monospace;
    font-size:12px;
}
#header-bottom-right #userbarToggle {
    font-family:"Courier New", Courier, monospace;
    font-size:12px;
    width:14px;
    padding-right:4px;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-bottomright:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-bottom-right-radius:0;
}

/* SIDEBAR */
/*search*/
.side {
    margin:0 20px;
}
#search {
    border:1px solid #eaeaea;
    padding:10px;
    margin-top:20px;
    background-color:#FAFAFA;
}
body.res-nightmode #search {
    background-color: #AAA;
    border-color: #BBB;
}
#search input[type=text] {
    width:265px;
    border:1px solid #DBDADA;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
    font-size:14px;
    font-style:italic;
    padding:4px;
}

/*side*/
.linkinfo {
    padding:15px;
    border:none;
    background-color:#CEE3F8;
}
body.res-nightmode .side .redditname a {
    color: #DDD !important;
}
.titlebox {
    padding:0 10px;
}
.titlebox .bottom {
    display:none;
}
.titlebox > h1 {
    font-size:34px;
}
.sidebox .spacer,.sidebox.create {
    display:none;
}
.linkinfo .score .word,.linkinfo .score .number {
    font-size:15px;
}
.sidecontentbox .content {
    border:1px solid #EAEAEA;
    background-color:#FAFAFA;
    padding:10px;
}
.icon-menu li {
    margin:0 0 5px;
}

/*sidebar buttons*/
.side a[href*='/#btn'] {
    text-align:center;
    width:auto;
    font-weight:normal;
    letter-spacing:0;
    line-height:29px;
    display:block;
}

/*submit*/
.sidebox.submit {
    position:absolute;
    top:95px;
    width:300px;
}
body.res-nightmode .sidebox {
    padding-left: 0 !important;
}
body.res-nightmode .sidebox.submit {
    background-image: none !important;
}
body.res-nightmode .sidebox.submit .nub {
    height: 3px;
    width: 2px;
    border-left: 14px solid #393939;
    border-top: 14px solid #222;
    border-bottom: 14px solid #222;
}
body.res-nightmode .sidebox, body.res-nightmode .subredditbox, body.res-nightmode .subreddit-info, body.res-nightmode .raisedbox, body.res-nightmode .login-form-side {
    border: 0 !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
body.res-nightmode .sidebox.submit .morelink a {
    color: #DDD !important;
}
body.res-nightmode .sidebox.submit:hover {
    background-color: #444 !important;
}
 body.res-nightmode .sidebox.submit:hover .nub {
    border-left-color: #444;
}
#search {
    margin-top:61px;
}
.morelink,.morelink:hover,.side a[href*='/#btn'] {
    font-weight:normal;
    letter-spacing:0;
    background:#449EF8;
    border-color:#449EF8;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    -khtml-border-radius:0;
    border-radius:0;
}
.side a[href*='/#btn'] {
    margin:0;
}
.morelink a,.morelink a:hover {
    color:#FFF;
    font-family:Verdana, Arial, sans-serif;
    font-size:16px;
}
.morelink .nub,.morelink:hover .nub {
    background:url(%%sprites-05%%) 0 0 no-repeat transparent;
}
.disabled .morelink a,.disabled .morelink a:hover {
    cursor:default;
    color:#AAA;
}
.morelink:hover {
    background-color:#56a6f7;
    border-color:#56a6f7;
}
.disabled .morelink,.disabled .morelink:hover {
    background:#f5f5f5;
    border-color:#f5f5f5;
}
.disabled .morelink .nub,.disabled .morelink:hover .nub {
    background:url(%%sprites-05%%) 0 0 no-repeat transparent;
}

/*boxes*/
.side .md {
    overflow:hidden;
}
.side blockquote + hr {
    border-width:0;
    width:0;
    background-color:transparent;
    margin:20px 0 0;
}
body.res-nightmode .side hr {
    border: 0 !important;
    border-bottom: 1px solid #000 !important;
}
.side blockquote {
    border:0 none;
    padding:15px;
    margin:0;
    border:1px solid #CCC;
    background-color:#F5F5F5;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
}
.side h6+blockquote {
    display:block;
    background-color:#FEF0F0;
    border:1px solid #fcbcbc;
}
.side h5+blockquote {
    display:block;
    background-color:#FFFFE6;
    border:1px solid #f4f225;
}
.side h4+blockquote {
    display:block;
    background-color:#E9FFE6;
    border:1px solid #9ef886;
}
.side h6+blockquote p, .side h5+blockquote p, .side h4+blockquote p {
    color: #000 !important;
}
.side h6+blockquote a, .side h5+blockquote a, .side h4+blockquote a {
    color: #369 !important;
}
.side blockquote pre, .side blockquote code {
    color: #222 !important;
}
.side blockquote li {
    color: #000 !Important;
}
.side h4, .side h5, .side h6 {
    height:0;
}
.side .spacer .md h1, .side .spacer .md h2, .side .spacer .md h3 {
    background: transparent !important;
}
.side blockquote h1 ~ p {
    margin-left:21px;
}
.side blockquote+p,.side p+blockquote,.side p+h4,.side p+h5,.side p+h6 {
    margin-top:15px;
}
.side blockquote h1 {
    font-size:16px;
    background-color: transparent !important;
}
body.res-nightmode .side blockquote h1, body.res-nightmode .side blockquote h1 a {
    color: #EEE !important;
}
body.res-nightmode .side h6+blockquote h1, body.res-nightmode .side h5+blockquote h1, body.res-nightmode .side h4+blockquote h1,
body.res-nightmode .side h6+blockquote h1 a, body.res-nightmode .side h5+blockquote h1 a, body.res-nightmode .side h4+blockquote h1 a {
    color: #000 !important;
}
.side blockquote h1 a {
    color:#000 !important;
    cursor:default;
}
.side blockquote h1 a[href*='#']::before {
    display:inline-block;
    height:16px; width:16px;
    content:'';
    margin:0 5px -1px 0;
    background: url(%%sprites-05%%) 30px 30px no-repeat;
}
.side blockquote h1 a[href='#exclamation']::before  {background-position: -16px -32px;}
.side blockquote h1 a[href='#bell']::before             {background-position: -35px -32px;}
.side blockquote h1 a[href='#error']::before           {background-position: -54px -32px;}
.side blockquote h1 a[href='#star']::before            {background-position: -73px -32px;}
.side blockquote h1 a[href='#lightbulb']::before      {background-position: -16px -51px;}
.side blockquote h1 a[href='#clock']::before          {background-position: -35px -51px;}
.side blockquote h1 a[href='#information']::before  {background-position: -54px -51px;}
.side blockquote h1 a[href='#check']::before         {background-position: -73px -51px;}
.side blockquote h1 a[href='#help']::before           {background-position: -16px -70px;}
.side blockquote h1 a[href='#cross']::before         {background-position: -35px -70px;}
.side blockquote h1 a[href='#note']::before          {background-position: -54px -70px;}
.side blockquote h1 a[href='#time']::before          {background-position: -73px -70px;}
.side blockquote h1 a[href='#eye']::before           {background-position: -16px -89px;}
.side blockquote h1 a[href='#comments']::before  {background-position: -35px -89px;}
.side blockquote h1 a[href='#smile']::before         {background-position: -54px -89px;}
.side blockquote h1 a[href='#unhappy']::before    {background-position: -73px -89px;}

/* CONTENT */
.sitetable {
    font-family:verdana, arial, helvetica, sans-serif;
}
.infobar {
    overflow:hidden;
    margin:0 0 10px;
}
.content {
    margin:20px 0 0 20px;
}
.link {
    overflow:hidden;
    margin:0 20px 0 0;
    padding:5px;
    border:1px solid #EAEAEA;
    background-color:#FAFAFA;
}
body.res-nightmode .sitetable .thing.link, body.res-nightmode div#siteTable div[onclick="click_thing(this)"] {
    border: 1px solid #4c4c4c !important;
    background-color: #333 !important;
}
body.res-nightmode .sitetable .thing.link .keyHighlight {
    background-color: #363636 !important;
    border-color: #666 !important;
    outline-color: #666 !important;
}
body.res-nightmode .midcol {
    background-color: #222 !important;
    padding: 4px;
}
.link .rank {
    display:none;
}
.link.last-clicked {
    border:1px dashed #EAEAEA;
}
body.res-nightmode .link.last-clicked {
    border-color: #666;
}
.linklisting > .clearleft {
    margin:5px;
}
.entry .buttons li {
    display:inline;
    float:left;
}

.link .midcol {
    margin-right:10px;
    margin-left:0;
}

/*mobile friendly spoiler tags by /u/listen2*/
a[href='#s'] {
    font-size:0;
    visibility:hidden;
    cursor:default;
    display:inline-block;
}
a[href='#s']::after {
    content:attr(title);
    background:#cee3f8;
    color:#cee3f8;
    font-size:small;
    visibility:visible;
}
body.res-nightmode a[href='#s']::after {
    content:attr(title);
    background:#666;
    color:#666;
    font-size:small;
    visibility:visible;
}
a[href='#s']:hover::after,a[href='#s']:active::after {
    color:#000;
    background:transparent;
    text-decoration:none;
    font-size:small;
}
body.res-nightmode a[href='#s']:hover::after, body.res-nightmode a[href='#s']:active::after {
    color:#DDD;
    background:transparent;
    text-decoration:none;
    font-size:small;
}

/* CONTENT - COMMENTS */
.commentarea {
    margin-top:10px;
}
.link.self .usertext-body .md p,.comment .usertext-body .md p {
    line-height:17px;
}
.link .usertext .md {
    padding:5px 10px;
}
.panestack-title {
    border:none;
    margin:0;
    padding:0;
}
.panestack-title .title {
    float:left;
    font-size:11px;
    color:#888;
    margin:0;
}
.commentarea .menuarea {
    font-size:11px;
    margin:0;
}
.panestack-title:after {
    content:'-';
    padding:0 5px;
    float:left;
}
.commentarea > .usertext {
    clear:left;
    margin:0;
}
.usertext-edit {
    width:auto;
}
.usertext-edit textarea {
    width:430px;
    padding:10px;
}
.usertext .bottom-area {
    width:450px;
}
.usertext button {
    margin:5px 5px 10px 0;
    border:none;
    min-width:70px;
}
.usertext .help-toggle {
    background-color:#999;
    border:none;
    color:#FFF;
    padding:6px;
    margin:5px 0;
    font-size:13px;
}
body.res-nightmode .usertext .help-toggle {
    background-color:#DDD;
}
.usertext .help-toggle a {
    color:#FFF;
}
body.res-nightmode .usertext .help-toggle a {
    color:#444 !important;
}
.usertext table.markhelp {
    width:450px;
    font-size:11px;
}
.link .usertext .md {
    background-color:#FFF;
    border:1px solid #EAEAEA;
}
.entry .buttons li a {
    font-family:verdana, arial, sans-serif;
}

/*code styling*/
.usertext-body pre {
    margin:10px 0;
    padding:10px;
    color: #222 !important;
}
.usertext-body pre, .usertext-body p > code {
    background:#f7f7f7;
    border:1px solid #ccc;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
    font-size:11px;
    color: #222 !important;
}
.usertext-body code {
    color: #222 !important;
    font-family:Consolas, Monaco, monospace;
    line-height:1.5em;
}
.usertext-body p > code {
    padding:0 3px;
    color: #222 !important;
}

/* MODERATOR */
#subreddit_stylesheet {
    display: block;
    width: 700px;
}
.sheets {
    margin:0;
}